<% provide(:title, "Edit Assignment") %>

<div class="container my-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= link_to "Back to assignment: #{@assignment.name}", course_assignment_path(@course, @assignment), class: "btn btn-info mb-4"%>
      <h1>Edit Assignment</h1>
      <div>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>