<% provide(:title, "Who is Julie?") %>

<div class="container col-8 my-5">
  <h1>About Me</h1>

  <div>
    <p>Julie is a wife, a mother, a pharmacist, and a programmer.</p>

    <p>She loves spending time with her family and traveling.</p>

    <p>Her passion is in education and gamification.</p>

    <p>Welcome to her coding journey!</p>
  </div>

</div>

